@model IEnumerable<ConcertRewind.Models.ConcertDB>


<h2>Most Searched</h2>


<table class="table">
    <tr>
        <th>
            Artist Name
        </th>
        <th>
            Number of Times Searched
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                
                string artist = item.Artist_Name;
                artist = artist.ToUpper();
                @Html.ActionLink(artist, "Results", "Setlist", new { artistName = artist }, null)
            }    
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Times_Searched)
        </td>
    </tr>
}

</table>