
@{
    ViewBag.Title = "Concert";
}

<h1>Concert</h1>

<p>
    Concert Rewind now provides a cool playlist of songs from the concert you've selected.<br />
    This is where the listening and serious fun begin.  ENJOY!
</p>
<div>
    <img src="~/Content/09-saxaphone-player-setting-sun.jpg" height="200" width="320" />
    <img src="~/Content/06-middle-age-crowd-tattoo.jpg" height="200" width="320" />
    <img src="~/Content/10-music-listeners-w-phone.jpg" height="200" width="320"/>
</div>

<h2>@ViewBag.artist</h2>
<h2>@ViewBag.date</h2>
<h2>@ViewBag.location</h2>

@{
    if (ViewBag.songsPlayed.Equals(""))
    {
        <ul><li>There is no song info available for this concert.</li></ul>
    }
    else
    {
        <ol>@Html.Raw(ViewBag.songsPlayed)</ol>
    }
}

@{
    <!--Only generate YouTube player if relevant videos have been found-->
    if (ViewBag.videoIds != "")
    {
        <iframe width="720" height="405" src="https://www.youtube.com/embed/VIDEO_ID?playlist=@ViewBag.videoIds" frameborder="0" allowfullscreen />
    }
}
