@model IEnumerable<ConcertRewind.Models.concert>

@{
    ViewBag.Title = "Results";
}

<h1>Results</h1>
<p>
    Your first stop on Concert Rewind's rockin' musical journey provides the locations of performances by your selected artist.
    <br />Just choose a location and click the link to experience a play list of bold songs from that concert.
</p>
<br />
<div>
    <img src="~/Content/02-crowd-yellow.jpg" height="200" width="320"/>  
    <img src="~/Content/10-music-listeners-w-phone.jpg" height="200" width="320" />
    <img src="~/Content/04-crowd-phones-red.jpg" height="200" width="320" />
</div>
    <br />
    <br />
    <ul>
        @foreach (var concert in Model)
        {
            string concertInfo = concert.city + ", " + concert.state + ": " + concert.date;

            //<li>@concertInfo <a href="Concert?artistName=@concert.artist,concertId=@concert.id">Go to concert</a> </li> // @Html.ActionLink("Go to Concert", "Concert", new { }, new { id = concert.id })</li>
            <li>@concertInfo @Html.ActionLink("Go to Concert", "Concert", new { artistName = concert.artist, concertId = concert.id })</li>
        }
    </ul>
