<style type="text/css">
h1{
        font-family: Tahoma;
        text-align: center;


} 


ul{
    text-align:center;
    font-size: 14pt;
    font-family: Tahoma;
    list-style-type: none;
    border-bottom: .5px solid black;
}
#images{

    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    
}
.test{

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius:7px;
    overflow:hidden;

}

</style>




@model IEnumerable<ConcertRewind.Models.concert>

@{
    ViewBag.Title = "Results";
    string artist = ViewBag.Artist;
    artist = artist.ToUpper();
}


    <div id="images">
        <img class="test" src="~/Content/02-crowd-yellow.jpg" height="200" width="320" />
        <img class="test" src="~/Content/10-music-listeners-w-phone.jpg" height="200" width="320" />
        <img class="test" src="~/Content/04-crowd-phones-red.jpg" height="200" width="320" />   
    </div>
<h1>Recent @artist Concerts</h1>
<br />

    <br />
    <br />
    <ul>
        @foreach (var concert in Model)
        {
            string concertInfo = concert.city + ", " + concert.state + ": " + concert.date;
            

            //<li>@concertInfo <a href="Concert?artistName=@concert.artist,concertId=@concert.id">Go to concert</a> </li> // @Html.ActionLink("Go to Concert", "Concert", new { }, new { id = concert.id })</li>
            <li>@concertInfo <br /> @Html.ActionLink("Go to Concert", "Concert", new { artistName = concert.artist, concertId = concert.id })</li>
        }
    </ul>
