<div>
    <h1>Concert Rewind</h1>
    <p>
        The main concept of our app is if you're going to attend a concert, you can search our app for the songs from the
        latest concert by that artist.  Then you can establish a playlist on Spotify of those songs so you can listen to them
        before the concert.  This will allow you to have a great time singing along at the concert.
    </p>

</div>
<p>
    Please enter an artist's name in the search box to get a setlist
    from their most recent tour.
    <a href="https://accounts.spotify.com/authorize?client_id=37dc1ee230b24b90b118ae6042eb4a85&redirect_uri=http://localhost:54295/Home/Index&scope=user-read-private%20user-read-email&response_type=token&state=123
" target="_blank">Open page in new window</a>

</p>
@*//Form action will point to the GetSetList name in the HomeController.  There will be no URL here in the Form action; in
    the HomeController, we will point the input name here; and here the form action will point to the Method name in the HomeController
    that Mike is working on. *@
<form action="GetSetList" method="get">
    <input type="text" name="artistName" />
    <input type="submit" value="Search!" />
</form>

