@model IEnumerable<ConcertRewind.Models.ConcertDB>
<style>
#images{

    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    
 
}
p{
    text-align: center;
    font-size: 12pt;
}
.test {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        border-radius:7px;
        overflow:hidden;
    }
input[type=text] {
    width: 900px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 200%;
}

#search{
    position: center;


}

</style>
<div>
    <h1>CONCERT REWIND</h1>
    <p>
        Your one stop for preparing for and reliving concerts from all your favorite artists. 
    </p>
    <br />
    <div id="images"> 
    <img class="test" src="~/Content/01-band-red.jpg" height="200" width="320"/>
    <img class="test" src="~/Content/07-singer-microphone-color-bg.jpg" height="200" width="320"/>
    <img class="test" src="~/Content/05-crowd-fireworks-blue.jpg" height="200" width="320"/>
    </div>
</div>

<br />
<p>
    Please enter an artist's name in the search box to get tour locations from their recent concerts.

</p>
<br />
<!--Form action will point to the GetSetList name in the HomeController.  There will be no URL here in the Form action; in
    the HomeController, we will point the input name here; and here the form action will point to the Method name in the HomeController
    that Mike is working on. -->
<div id="search ">
    <form class="center" action="/Setlist/Results" method="get">
        <input type="text" name="artistName" placeholder="Search..." required />
       
    </form>
    
</div>
<br />
<div id="images">
    <img class="test" src="~/Content/08-color-white-dancers-illustration.jpg" height="200" width="320" />
    <img class="test" src="~/Content/09-saxaphone-player-setting-sun.jpg" height="200" width="320"/>
    <img class="test" src="~/Content/03-jazz-singer-blue.jpg" height="200" width="320"/>
</div>

