@model IEnumerable<ConcertRewind.Models.ConcertDB>

<div>
    <h1>CONCERT REWIND</h1>
    <p>
        Welcome to Concert Rewind.  With this app, you'll be able to search for an artist and view their most recent concert locations.
        And from the locations page, you'll be able to link to a specific concert by an artist and, from there,
        you can access and listen to individual songs performed at the concert.  ENJOY THE JOURNEY!
    </p>
    <br />

    <img src="~/Content/01-band-red.jpg" height="200" width="320"/>
    <img src="~/Content/07-singer-microphone-color-bg.jpg" height="200" width="320"/>
    <img src="~/Content/05-crowd-fireworks-blue.jpg" height="200" width="320"/>
</div>

<br />
<p>
    Please enter an artist's name in the search box to get tour locations from their recent concerts.

</p>
<br />
<!--Form action will point to the GetSetList name in the HomeController.  There will be no URL here in the Form action; in
    the HomeController, we will point the input name here; and here the form action will point to the Method name in the HomeController
    that Mike is working on. -->
<div class="center">
    <form action="/Setlist/Results" method="get">
        <input type="text" name="artistName" required />
        <input type="submit" value="Search!" />
    </form>
</div>
<br />
<div>

    <img src="~/Content/08-color-white-dancers-illustration.jpg" height="200" width="320" />
    <img src="~/Content/09-saxaphone-player-setting-sun.jpg" height="200" width="320"/>
    <img src="~/Content/03-jazz-singer-blue.jpg" height="200" width="320"/>
</div>

