<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
    <body>
      <h1>ERROR</h1>
        <p>
            @ViewBag.errorMessage
        </p>
        <div>
            <form action="/Home/Index" method="get">
                <input type="submit" value="Go to Homepage" />
            </form>
        </div>
        
   </body>
</html>
